[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 14.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 14.0

[submodule "OCA/stock-logistics-reporting"]
	path = OCA/stock-logistics-reporting
	url = git@github.com:OCA/stock-logistics-reporting.git
	branch = 14.0

[submodule "tecnologiaorganizacionaldigital/l10n_mx-extension"]
	path = tecnologiaorganizacionaldigital/l10n_mx-extension
	url = git@github.com:tecnologiaorganizacionaldigital/l10n_mx-extension.git
	branch = 14.0
